
        <!-- Content -->
<%
meta title: @gym.name,
     description: @gym.description,
     keywords: %w(gymexplore gyms),
     robots: "nofollow"
%>
        <div id="wrapper">
            <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
            <div id="content" class="mob-max">
                <div class="rightContainer">
                    <h1>Update Gym</h1>
                    <%= form_for @gym do |f| %>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" value="<%=@gym.name%>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" value="<%=@gym.email%>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="text" class="form-control" name="mobile" placeholder="+919632xxxxxx" value="<%=@gym.mobile%>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="url" class="form-control" name="website" value="<%=@gym.website%>">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" name="description"><%=@gym.description%></textarea>
                        </div>
                        <div class="form-group">
                            <label>Address <input type="hidden" id="latitude" name="latitude" value="<%=@gym.lang%>" /> <input type="hidden" id="longitude" name="longitude" value="<%=@gym.long%>" /></label>
                            <input class="form-control" type="text" id="address" placeholder="Start Typing Any Famous Landmark Near By" autocomplete="off">
                            <p class="help-block">You can drag the black marker to gym position</p>
                        </div>
                        <div class="form-group">
                            <label>Full Address</label>
                            <textarea class="form-control" rows="4" name="address"><%=@gym.address%></textarea>
                        </div>
                        <div class="form-group">
                            <label>Gymmers</label>
                            <select class="form-control" name="gender">
                                <% if @gym.gender == 0 %>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="0" selected="selected">Male and Female</option>
                                <% elsif @gym.gender == 1 %>
                                    <option value="1" selected="selected">Male</option>
                                    <option value="2">Female</option>
                                    <option value="0">Male and Female</option>
                                <% else %>
                                    <option value="1">Male</option>
                                    <option value="2" selected="selected">Female</option>
                                    <option value="0">Male and Female</option>
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Registration Fees</label>
                            <div class="input-group">
                                <div class="input-group-addon">Rs.</div>
                                <input class="form-control" type="text" placeholder="Ex: 500" name="fees" value="<%=@gym.registration_fee%>">
                            </div>
                        </div>
                        <div class="pricing-wrapper">
                            <% @gym.pricings.where(:pricing_type => "regular").each_with_index do |p,i| %>
                                <% if i==0 %>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Duration</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" placeholder="Ex: 3" name="duration[]" value="<%=p.duration%>">
                                                    <div class="input-group-addon">Month(s)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rs.</div>
                                                    <input class="form-control" type="text" placeholder="Ex: 5000.00" name="price[]" value="<%=p.price%>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% else %>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" type="number" placeholder="Ex: 3" name="duration[]" value="<%=p.duration%>">
                                                    <div class="input-group-addon">Month(s)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rs.</div>
                                                    <input class="form-control" type="text" placeholder="Ex: 5000.00" name="price[]" value="<%=p.price%>">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-danger remove-pricing"> - </a>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><button id="add-pricing" class="btn btn-green btn-xs margin-b-10">Add New Pricing</button></div>
                        </div>
                        <div class="pass-wrapper">
                            <% @gym.pricings.where(:pricing_type => "pass").each_with_index do |p,i| %>
                                <% if i==0 %>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Pass Duration</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" placeholder="Ex: 3" name="pass_duration[]" value="<%=p.duration%>">
                                                    <div class="input-group-addon">Day(s)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <div class="form-group">
                                                <label>Pass Price</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rs.</div>
                                                    <input class="form-control" type="text" placeholder="Ex: 5000.00" name="pass_price[]" value="<%=p.price%>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% else %>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" type="number" placeholder="Ex: 3" name="pass_duration[]" value="<%=p.duration%>">
                                                    <div class="input-group-addon">Day(s)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rs.</div>
                                                    <input class="form-control" type="text" placeholder="Ex: 5000.00" name="pass_price[]" value="<%=p.price%>">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-danger remove-pass"> - </a>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><button id="add-pass" class="btn btn-green btn-xs margin-b-10">Add New Pass</button></div>
                        </div>
                        <div class="row" id="timings-wdm">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Weekday(s) Morning Schedule</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">From</div>
                                        <input class="form-control timepicker time start" type="text" value="<%=@gym.weekday_from%>" name="weekday_from">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">To</div>
                                        <input class="form-control timepicker time end" type="text" value="<%=@gym.weekday_to%>" name="weekday_to">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="timings-wde">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Weekday(s) Evening Schedule</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">From</div>
                                        <input class="form-control timepicker time start" type="text" value="<%=@gym.weekday_secondary_from%>" name="weekday_secondary_from">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">To</div>
                                        <input class="form-control timepicker time end" type="text" value="<%=@gym.weekday_secondary_to%>" name="weekday_secondary_to">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="timings-wem">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Weekend(s) Morning Schedule</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">From</div>
                                        <input class="form-control timepicker time start" type="text" value="<%=@gym.weekend_from%>" name="weekend_from">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">To</div>
                                        <input class="form-control timepicker time end" type="text" value="<%=@gym.weekend_to%>" name="weekend_to">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="timings-wee">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Weekend(s) Evening Schedule</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">From</div>
                                        <input class="form-control timepicker time start" type="text" value="<%=@gym.weekend_secondary_from%>" name="weekend_secondary_from">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">To</div>
                                        <input class="form-control timepicker time end" type="text" value="<%=@gym.weekend_secondary_to%>" name="weekend_secondary_to">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Image Gallery</label>
                                    <%= f.file_field :images, :class => "file", :multiple => true, :data => { :'show-upload' => "false", :'show-caption' => "false", :'show-remove' => "false", :'browse-class' => "btn btn-o btn-default", :'browse-label' => "Browse Images" }, :accept => "image/jpeg,image/png" %>
                                    <!-- <input type="file" class="file" multiple data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-o btn-default" data-browse-label="Browse Images" name="images[]"> -->
                                    <p class="help-block">You can select multiple images at once</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Number of Trainers</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Male</div>
                                        <input class="form-control" type="number" placeholder="Ex: 4" name="male_trainers" value="<%=@gym.male_trainers%>">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Female</div>
                                        <input class="form-control" type="number" placeholder="Ex: 2" name="female_trainers" value="<%=@gym.female_trainers%>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% all_facilities = @gym.facility.split(",") rescue [] %>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Facilities</label>
                                    <% if all_facilities.include?("Personal Training") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Personal Training" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Personal Training</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Personal Training" name="facilities[]"><span class="fa fa-check"></span> Personal Training</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Cardio") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Cardio" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Cardio</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Cardio" name="facilities[]"><span class="fa fa-check"></span> Cardio</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Group Exercise / Aerobics") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Group Exercise / Aerobics" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Group Exercise / Aerobics</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Group Exercise / Aerobics" name="facilities[]"><span class="fa fa-check"></span> Group Exercise / Aerobics</label></div>
                                    <% end %>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Steam Room") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Steam Room" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Steam Room</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Steam Room" name="facilities[]"><span class="fa fa-check"></span> Steam Room</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Physiotherapist") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Physiotherapist" name="facilities[]"><span class="fa fa-check"></span> Physiotherapist</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Physiotherapist" name="facilities[]"><span class="fa fa-check"></span> Physiotherapist</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Nutrition / Dietitian") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Nutrition / Dietitian" name="facilities[]"><span class="fa fa-check"></span> Nutrition / Dietitian</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Nutrition / Dietitian" name="facilities[]"><span class="fa fa-check"></span> Nutrition / Dietitian</label></div>
                                    <% end %>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Fitness Assessment") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Fitness Assessment" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Fitness Assessment</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Fitness Assessment" name="facilities[]"><span class="fa fa-check"></span> Fitness Assessment</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Lockers") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Lockers" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Lockers</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Lockers" name="facilities[]"><span class="fa fa-check"></span> Lockers</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Yoga") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Yoga" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Yoga</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Yoga" name="facilities[]"><span class="fa fa-check"></span> Yoga</label></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Kickboxing") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Kickboxing" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Kickboxing</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Kickboxing" name="facilities[]"><span class="fa fa-check"></span> Kickboxing</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Karate") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Karate" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Karate</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Karate" name="facilities[]"><span class="fa fa-check"></span> Karate</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Muay Thai") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Muay Thai" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Muay Thai</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Muay Thai" name="facilities[]"><span class="fa fa-check"></span> Muay Thai</label></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("AC") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="AC" name="facilities[]" checked="checked"><span class="fa fa-check"></span> AC</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="AC" name="facilities[]"><span class="fa fa-check"></span> AC</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Zumba") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Zumba" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Zumba</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Zumba" name="facilities[]"><span class="fa fa-check"></span> Zumba</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Cycle Studio") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Cycle Studio" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Cycle Studio</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Cycle Studio" name="facilities[]"><span class="fa fa-check"></span> Cycle Studio</label></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Certified Trainers") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Certified Trainers" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Certified Trainers</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Certified Trainers" name="facilities[]"><span class="fa fa-check"></span> Certified Trainers</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Strengthening") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Strengthening" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Strengthening</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Strengthening" name="facilities[]"><span class="fa fa-check"></span> Strengthening</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Body Building") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Body Building" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Body Building</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Body Building" name="facilities[]"><span class="fa fa-check"></span> Body Building</label></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Weight Loss / Weight Gain") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Weight Loss / Weight Gain" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Weight Loss / Weight Gain</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Weight Loss / Weight Gain" name="facilities[]"><span class="fa fa-check"></span> Weight Loss / Weight Gain</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Spinning") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Spinning" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Spinning</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Spinning" name="facilities[]"><span class="fa fa-check"></span> Spinning</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Circuit Training") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Circuit Training" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Circuit Training</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Circuit Training" name="facilities[]"><span class="fa fa-check"></span> Circuit Training</label></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Membership Transfer") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Membership Transfer" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Membership Transfer</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Membership Transfer" name="facilities[]"><span class="fa fa-check"></span> Membership Transfer</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("First Aid Kit") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="First Aid Kit" name="facilities[]" checked="checked"><span class="fa fa-check"></span> First Aid Kit</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="First Aid Kit" name="facilities[]"><span class="fa fa-check"></span> First Aid Kit</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Kettlebell Training") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Kettlebell Training" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Kettlebell Training</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Kettlebell Training" name="facilities[]"><span class="fa fa-check"></span> Kettlebell Training</label></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Crossfit") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Crossfit" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Crossfit</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Crossfit" name="facilities[]"><span class="fa fa-check"></span> Crossfit</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("3D Max Rack") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="3D Max Rack" name="facilities[]" checked="checked"><span class="fa fa-check"></span> 3D Max Rack</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="3D Max Rack" name="facilities[]"><span class="fa fa-check"></span> 3D Max Rack</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("TRX") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="TRX" name="facilities[]" checked="checked"><span class="fa fa-check"></span> TRX</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="TRX" name="facilities[]"><span class="fa fa-check"></span> TRX</label></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <% if all_facilities.include?("Free Parking") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Free Parking" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Free Parking</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Free Parking" name="facilities[]"><span class="fa fa-check"></span> Free Parking</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Resistance Machines") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Resistance Machines" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Resistance Machines</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Resistance Machines" name="facilities[]"><span class="fa fa-check"></span> Resistance Machines</label></div>
                                    <% end %>
                                    <% if all_facilities.include?("Pilates") %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Pilates" name="facilities[]" checked="checked"><span class="fa fa-check"></span> Pilates</label></div>
                                    <% else %>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Pilates" name="facilities[]"><span class="fa fa-check"></span> Pilates</label></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Other Facilities</label>
                                    <input type="text" class="form-control" name="other_facilities" id="tags" placeholder="Add Facilities">
                                    <p class="help-block">Press enter after every facility you type to add it.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Additional Information</label>
                            <textarea class="form-control" rows="4" name="additional_info"><%=@gym.additional_info%></textarea>
                        </div>
                        <div class="form-group">
                            <label>Special Promotional Offers (Change it frequently to be featured)</label>
                            <textarea class="form-control" rows="4" name="special_offers"><%=@gym.special_offers%></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-green btn-lg">Update Gym</button>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>