<%
meta title: "Find Gyms",
     description: "Find best gyms to workout near your area (me)",
     keywords: %w(gymexplore gyms bestgym workout fitness findgym)
%>

        <span class="enter-button hide"><%=@message%></span>
        <div id="wrapper">
            <div id="mapView">
                <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
            </div>
            <div id="content">
                <div class="filter">
                    <h1 class="osLight">Filter your results</h1>
                    <a href="#" class="handleFilter"><span class="icon-equalizer"></span></a>
                    <div class="clearfix"></div>
                    <form class="filterForm" id="filter-form">
                        <!-- <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                                <div class="formField">
                                    <label>Price Range (Per Month in Rs.)</label>
                                    <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                                        <span class="dropdown-label">All</span>
                                        <span class="fa fa-angle-down dsArrow"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-select full" role="menu">
                                        <li class="active"><input type="radio" name="pType" checked="checked" value="0"><a href="#" class="filter-click">All</a></li>
                                        <li><input type="radio" name="pType" value="1"><a href="#" class="filter-click">0 - 500</a></li>
                                        <li><input type="radio" name="pType" value="2"><a href="#" class="filter-click">500 - 1000</a></li>
                                        <li><input type="radio" name="pType" value="3"><a href="#" class="filter-click">1000 - 2000</a></li>
                                        <li><input type="radio" name="pType" value="4"><a href="#" class="filter-click">2000 - 5000</a></li>
                                        <li><input type="radio" name="pType" value="5"><a href="#" class="filter-click">5000 - 10000</a></li>
                                        <li><input type="radio" name="pType" value="6"><a href="#" class="filter-click">10000 +</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <input type="hidden" name="filter_lat" id="filter_lat" value="<%=@lat%>" />
                        <input type="hidden" name="filter_lon" id="filter_lon" value="<%=@lon%>" />
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Personal Training" name="facilities[]"><span class="fa fa-check"></span> Personal Training</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Cardio" name="facilities[]"><span class="fa fa-check"></span> Cardio</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Group Exercise / Aerobics" name="facilities[]"><span class="fa fa-check"></span> Group Exercise / Aerobics</label></div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Steam Room" name="facilities[]"><span class="fa fa-check"></span> Steam Room</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Physiotherapist" name="facilities[]"><span class="fa fa-check"></span> Physiotherapist</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Nutrition" name="facilities[]"><span class="fa fa-check"></span> Nutrition</label></div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Fitness Assessment" name="facilities[]"><span class="fa fa-check"></span> Fitness Assessment</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="filter-click" value="Lockers" name="facilities[]"><span class="fa fa-check"></span> Lockers</label></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="resultsList">
                    <div class="row" id="list-gyms">
                        <% if @gyms.empty? %>
                            <b>We're sorry, there are no gyms registered for this area yet.</b><br/>
                            Try searching for an other area. 
                        <% end %>
                        <% @gyms.each do |g| %>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <a href="<%=gym_path(g)%>" class="card">
                                    <div class="figure">
                                        <img src="<%=g.pictures.first.image.url(:thumb)%>" alt="image">
                                        <!-- <div class="figCaption">
                                            <div>$1,550,000</div>
                                            <span class="icon-eye"> 200</span>
                                            <span class="icon-heart"> 54</span>
                                            <span class="icon-bubble"> 13</span>
                                        </div> -->
                                        <div class="figView"><span class="icon-eye"></span></div>
                                        <% if g.featured %>
                                            <div class="figType">Featured</div>
                                        <% end %>
                                    </div>
                                    <h2><%=g.name%></h2>
                                    <div class="cardAddress" style="white-space: normal;"><span class="icon-pointer"></span> <%=g.address%></div>
                                    <!-- <div class="cardRating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"></span>
                                        (146)
                                    </div> -->
                                    <!-- <ul class="cardFeat">
                                        <li><span class="fa fa-moon-o"></span> 3</li>
                                        <li><span class="icon-drop"></span> 2</li>
                                        <li><span class="icon-frame"></span> 3430 Sq Ft</li>
                                    </ul> -->
                                    <table class="table">
                                        <% g.pricings.each do |p| %>
                                            <tr> <td><%=pluralize(p.duration, "Month")%></td><td>Rs. <%=p.price%></td> </tr>    
                                        <% end %>
                                    </table>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        <% end %>
                    </div>
                    <!-- <ul class="pagination">
                        <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
