<div class="container" style="margin-top: 50px;">
<h2>Thanks For Choosing Us.</h2>

<h3>Gym Details Below:</h3>
<p>Gym Name: <%=@gym.name%></p>
<p>Address: <%=@gym.address%></p>
<% if @plan.pricing_type == "regular" %>
<p>Plan: <%= pluralize(@plan.duration, "Month") %> - Rs. <%=@plan.price%></p>
<% else %>
<p>Plan: <%= pluralize(@plan.duration, "Day") %> - Rs. <%=@plan.price%></p>
<% end %>
<h3>Your Details</h3>
<p>Name: <%=@name%></p>
<p>Email: <%=@email%></p>
<p>Mobile: <%=@mobile%></p>
<br/>
<p>
	Feel free to contact us for any queries at info@gymexplore.com.
</p>
</div>

<form action="https://test.payu.in/_payment" method="post">
	<input type="hidden" value="JBZaLc" name="key" />
	<input type="hidden" value="1" name="txnid" />
	<input type="hidden" value="100" name="amount" />
	<input type="hidden" value="" name="productinfo" />
	<input type="hidden" value="<%=@name%>" name="firstname" />
	<input type="hidden" value="<%=@email%>" name="email" />
	<input type="hidden" value="<%=@mobile%>" name="phone" />
	<input type="hidden" value="<%=root_url%>" name="surl" />
	<input type="hidden" value="<%=root_url%>" name="furl" />
	<input type="hidden" value="9e1d2e38638da6d3389076f23807c9d6476ad944497c7ad7a0c5418606c96edc5d994ec830591e7e82e354f9556e194c67786a37a16183ccc1dbbc03f8748701" name="hash" />
	<input type="hidden" value="payu_paisa" name="service_provider" />
	<input type="submit" value="pay" />
</form>