<div class="container" style="margin-top: 50px;">
<h2>Thanks For Choosing Us.</h2>

<h3>Gym Details Below:</h3>
<p>Gym Name: <%=@gym.name%></p>
<p>Address: <%=@gym.address%></p>
<% if @plan.pricing_type == "regular" %>
<p>Plan: <%= pluralize(@plan.duration, "Month") %> - Rs. <%=@plan.price%></p>
<% else %>
<p>Plan: <%= pluralize(@plan.duration, "Day") %> - Rs. <%=@plan.price%></p>
<% end %>
<h3>Your Details</h3>
<p>Name: <%=@name%></p>
<p>Email: <%=@email%></p>
<p>Mobile: <%=@mobile%></p>
<br/>
<p>
	Feel free to contact us for any queries at info@gymexplore.com.
</p>
</div>

<form action="https://secure.payu.in/_payment" method="post">
	<input type="hidden" value="rgbKgd" name="key" />
	<input type="hidden" value="1" name="txnid" />
	<input type="hidden" value="5" name="amount" />
	<input type="hidden" value="" name="productinfo" />
	<input type="hidden" value="<%=@name%>" name="firstname" />
	<input type="hidden" value="<%=@email%>" name="email" />
	<input type="hidden" value="<%=@mobile%>" name="phone" />
	<input type="hidden" value="<%=root_url%>" name="surl" />
	<input type="hidden" value="<%=root_url%>" name="furl" />
	<input type="hidden" value="9edcddf5d21aaa90dc4a7c8e24af49142dc2a2607d4f01066011ba9546017cf07694e4b7955422b03f2936852315ba4b39a598d0fb5f070d861f8c37b0d2d9b5" name="hash" />
	<input type="hidden" value="payu_paisa" name="service_provider" />
	<input type="submit" value="pay" />
</form>