<%
meta title: @gym.name,
     description: @gym.description,
     keywords: %w(gymexplore gyms gymnearme workout findgym),
     og: {
        title: @gym.name,
        site_name: "GymExplore.com",
        url: gym_url(@gym),
        description: @gym.description,
        image: "http://gymexplore.com"+@gym.pictures.first.image.url,
        type: "website"
     },
     twitter: {
        card: "summary",
        title: @gym.name,
        description: @gym.description,
        creator: "@GymExplore",
        url: gym_url(@gym),
        image: {
            src: "http://gymexplore.com"+@gym.pictures.first.image.url(:thumb)
        }
     }
%>
<div id="wrapper">
            <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
            <div id="content" class="mob-max">
            <div class="headerNotifyWraper" style="position: absolute;z-index: 1;background: white;">
                <a href="#" id="back-button" class="headerNotify dropdown-toggle">
                    <span class="notifyIcon icon-arrow-left"></span>
                </a>
            </div>
                <div class="singleTop">
                    <div id="carouselFull" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <% @gym.pictures.each_with_index do |p,i| %>
                                <% if i==0 %>
                                    <li data-target="#carouselFull" data-slide-to="<%=i%>" class="active"></li>
                                <% else %>
                                    <li data-target="#carouselFull" data-slide-to="<%=i%>"></li>
                                <% end %>
                            <% end %>
                        </ol>
                        <div class="carousel-inner">
                            <% @gym.pictures.each_with_index do |p,i| %>
                                <% if i==0 %>
                                    <div class="item active">
                                        <img src="<%=p.image.url(:large)%>">
                                        <div class="container">
                                            <div class="carousel-caption" style="background-color: rgba(0,0,0,0.6);padding: 0px 0px 5px 0px;margin-bottom: 30px;">
                                                <h5><%=@gym.name%></h5>
                                            </div>
                                        </div>
                                    </div>
                                <% else %>
                                    <div class="item">
                                        <img src="<%=p.image.url(:large)%>">
                                        <div class="container">
                                            <div class="carousel-caption" style="background-color: rgba(0,0,0,0.6);padding: 0px 0px 5px 0px;margin-bottom: 30px;">
                                                <h5><%=@gym.name%></h5>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                    </div>
                    <div class="summary">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="summaryItem">
                                    <!-- <h1 class="pageTitle"><%#=@gym.name%></h1> -->
                                    <% if @gym.address.present? && !@gym.address.blank? %>
                                        <div class="address"><span class="icon-pointer"></span> <%=@gym.address%></div>
                                    <% end %>
                                    <% if @gym.website.present? && !@gym.website.blank? %>
                                        <div class="address">
                                            <span class="fa fa-home"></span> <a href="<%=@gym.website%>" target="_blank">Visit Website</a>
                                            <% if @gym.male_trainers.present? %>
                                                | Number of Trainers - <span class="fa fa-male"></span> <%=@gym.male_trainers%> <span class="fa fa-female"></span> <%=@gym.female_trainers%>
                                            <% end %>
                                        </div>
                                    <% end %>
                                    <% if @gym.featured %>
                                        <ul class="rating">
                                            <li><a href="#"><span class="fa fa-star"></span></a> Featured</li>
                                            <!-- <li><a href="#"><span class="fa fa-star"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star-o"></span></a></li> -->
                                            <!-- <li>(146)</li> -->
                                        </ul>
                                    <% end %>
                                    
                                    <!-- <div class="favLink"><a href="#"><span class="icon-heart"></span></a>54</div>
                                    <ul class="stats">
                                        <li><span class="icon-eye"></span> 200</li>
                                        <li><span class="icon-bubble"></span> 13</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <ul class="features">
                                        <li><span class="fa fa-moon-o"></span><div>2 Bedrooms</div></li>
                                        <li><span class="icon-drop"></span><div>2 Bathrooms</div></li>
                                        <li><span class="icon-frame"></span><div>2750 Sq Ft</div></li>
                                    </ul> -->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="agentAvatar summaryItem">
                                     <div class="clearfix"></div>
                                    <!-- <img class="avatar agentAvatarImg" src="/assets/avatar-2.png" alt="avatar"> -->
                                    <!-- <div class="agentName"><%#=@gym.name%></div> -->
                                    <a data-toggle="modal" href="#contactAgent" class="btn btn-sm btn-round btn-green contactBtn">Send Mail</a>
                                    <a data-toggle="modal" href="#giveReview" class="btn btn-sm btn-round btn-green contactBtn">Review</a>
                                    <%= social_share_button_tag(@gym.name, :url => gym_url(@gym), :image => "http://gymexplore.com"+@gym.pictures.first.image.url, desc: @gym.description, :popup => "true") %>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="description">
                    <h3>Pricings</h3>
                    <% if @gym.registration_fee != 0.0 %>
                        <p>Registration / Membership Fee(s) - Rs.<%=@gym.registration_fee%></p>
                    <% end %>
                    <% if @gym.pricings.count > 0 %>
                        <table class="table">
                            <% @gym.pricings.each do |p| %>
                            <tr><td><%=pluralize(p.duration, "Month")%></td><td>Rs. <%=p.price%></td></tr>
                            <% end %>
                        </table>
                    <% end %>
                </div>
                <div class="amenities">
                    <h3>Facilities</h3>
                    <div class="row">
                        <% @gym.facility.split(",").each do |f| %>
                         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"> <%=f%></div>
                        <% end %>
                    </div>
                </div>
                <% if @gym.description.present? && !@gym.description.blank? %>
                    <div class="description">
                        <h3>Description</h3>
                        <p><%=@gym.description%></p>
                    </div>
                <% end %>
                <div class="comments">
                    <h3><!-- <span id="comment_count">4</span> -->Comments</h3>
                    <div class="prependReviews">
                        <% if @gym.reviews.count > 0 %>
                            <% @gym.reviews.order(created_at: :desc).each do |c| %>
                                <div class="comment">
                                    <div class="commentContent">
                                        <div class="commentName"><%=c.name%> <div class="commentTime"><span class="icon-clock"></span> <%=time_ago_in_words(c.created_at)%> ago</div></div>
                                        <div class="commentBody">
                                            <input data-show-caption="false" data-disabled="true" value="<%=c.rating%>" type="number" class="rating showClear" min="0" max="5" step="0.5" data-size="xs" data-symbol="&#xe005;"> <%=c.comment%>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="modal fade" id="contactAgent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <%= form_for :contact_gym, url: contact_gyms_path, :html => {:class => "contactForm"}, :remote => true do |f| %>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="contactLabel">Message Gym</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Name" name="name" class="form-control">
                                 </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="email" placeholder="Email" name="email" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                    <textarea placeholder="Message" rows="3" name="message" class="form-control"></textarea>
                                </div>
                                <input type="hidden" name="gym" value="<%=@gym.id%>" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Close</a>
                            <button type="submit" class="btn btn-round btn-green">Send</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="modal fade" id="giveReview" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="contactForm" id="commentForm" action="#">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="contactLabel">Give review</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" id="name" class="form-control" name="name" placeholder="Name" required="required">
                                 </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input id="rating" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs" data-symbol="&#xe005;" data-default-caption="{rating}" data-star-captions="{}" name="rating">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                    <textarea placeholder="Write a comment..." id="comment" rows="3" name="comment" class="form-control"></textarea>
                                </div>
                                <input type="hidden" name="gym_id" value="<%=@gym.id%>">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Close</a>
                            <button type="submit" class="btn btn-round btn-green">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>