<!DOCTYPE html>
<html>
<head>
  <title>Gym Explore</title>
   <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<%= favicon_link_tag 'gymfavicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="notransition no-hidden">
<% if notice.present? || alert.present? %>
  <div class="hide notice-alert"><%= notice || alert %></div>
<% end %>
<div id="header">
        <%= form_for :gym_search, :html => {:class => "search_form"}, url: explore_gyms_path do |f| %>
            <div class="logo">
                <a href="<%=root_path%>">
                    <span class="fa fa-home marker"></span>
                    <span class="logoText">gYmEx</span>
                </a>
            </div>
            <a href="#" class="navHandler"><span class="fa fa-bars"></span></a>
            <div class="search" style="width: 60%;">
                <span class="searchIcon icon-magnifier"></span>
	                <% if @locality.nil? %>
		                <%= f.text_field :locality, :id => "common_locality", :placeholder => "Search by locality or landmark", :autocomplete => false %>
	                <% else %>
		                <%= f.text_field :locality, :value => @locality, :id => "common_locality", :placeholder => "Search by locality or landmark", :autocomplete => false %>
	                <% end %>
	                <% if !@lat.nil? %>
		                <input type="hidden" value="<%=@lat%>" id="form_lat" name="form_lat"/>
		                <input type="hidden" value="<%=@lon%>" id="form_lon" name="form_lon" />
		            <% else %>
		            	<input type="hidden" value="12.929588" id="form_lat" name="form_lat"/>
		                <input type="hidden" value="77.630596" id="form_lon" name="form_lon" />
		            <% end %>
            </div>
            <!-- <button type="submit" class="searchHandler btn-green" style="border: 0px;"><span class="fa fa-search"></span></button> -->
			<% if agency_signed_in? %>
				<div class="headerUserWraper">
	                <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
	                <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
	                    <!-- <img class="avatar headerAvatar pull-left" src="images/avatar-1.png" alt="avatar"> -->
	                    <div class="userTop pull-left">
	                        <span class="headerUserName"><%=current_agency.name%></span> <span class="fa fa-angle-down"></span>
	                    </div>
	                    <div class="clearfix"></div>
	                </a>
	                <div class="dropdown-menu pull-right userMenu" role="menu">
	                    <div class="mobAvatar">
	                        <!-- <img class="avatar mobAvatarImg" src="images/avatar-1.png" alt="avatar"> -->
	                        <div class="mobAvatarName"><%=current_agency.name%></div>
	                    </div>
	                    <ul>
	                        <li><a href="<%=edit_agency_registration_path%>"><span class="icon-user"></span>Profile</a></li>
	                        <li class="divider"></li>
	                        <li><a href="<%=destroy_agency_session_path%>" data-method="delete"><span class="icon-power"></span>Logout</a></li>
	                    </ul>
	                </div>
	            </div>
            <% end %>
            <div class="headerNotifyWraper">
                <a href="<%=new_gym_path%>" class="headerNotify dropdown-toggle">
                    <span class="notifyIcon icon-plus"></span>
                </a>
            </div>
            <a href="#" class="mapHandler"><span class="icon-map"></span></a>
            <div class="clearfix"></div>
        	<% end %>
        </div>

        <!-- Left Side Navigation -->

        <div class="closeLeftSide"></div>
<%= yield %>
<script src="//maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
 <%= javascript_include_tag 'application' %>
 <% if Rails.env == "production" %>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57955648-1', 'auto');
  ga('send', 'pageview');

</script>
<% end %>
</body>
</html>
