<!DOCTYPE html>
<html>
<head>
    <%= metamagic site: "GymExplore.com", title: [:title, :site], separator: " | " %>
   <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<%= favicon_link_tag 'favicon.png' %>
	<meta name="google-site-verification" content="4VbSGlkhf1Dkn9vplf74UQIulHY8PfRSxA0WhArmdzY" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="notransition no-hidden">
<% if notice.present? || alert.present? %>
  <div class="hide notice-alert"><%= notice || alert %></div>
<% end %>
<%= yield %>
<div class="home-footer">
<div class="home-wrapper">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="osLight footer-header">Company</div>
            <ul class="footer-nav pb20">
                <li><a href="<%=root_path%>">Home</a></li>
                <!-- <li><a href="#">Jobs</a></li> -->
                <li><a href="/blog" target="_blank">Blog</a></li>
                <li><a href="/privacy-policy">Privacy</a></li>
                <li><a href="/terms">Terms & Conditions</a></li>
                <!-- <li><a href="#">Team</a></li> -->
                <!-- <li><a href="#">Help</a></li> -->
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="osLight footer-header">Discover</div>
            <ul class="footer-nav pb20">
                <!-- <li><a href="#">Become a Member</a></li> -->
                <!-- <li><a href="#">Gym List</a></li> -->
                <!-- <li><a href="<%#=new_agency_registration_path%>">Register</a></li> -->
                <!-- <li><a href="<%#=new_agency_session_path%>">Login</a></li> -->
                <li><a href="<%=root_path%>">Explore</a></li>
                <li><a href="<%=new_gym_path%>">Submit a gym</a></li>
                <!-- <li><a href="#">Lists</a></li> -->
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="osLight footer-header">Get in Touch</div>
            <ul class="footer-nav pb20">
                <li class="footer-phone"><span class="fa fa-phone"></span> +91 8884117557 </li>
                <li class="footer-address osLight">
                    <p>#10, Cubic Business Centre, 7th cross,</p>
                    <p>J extension, Koramangala 3rd block,</p>
                    <p>Bangalore - 560034.</p>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/GymExplore/1512745565665075" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-facebook"></span></a> 
                    <a href="" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-twitter"></span></a> 
                    <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-google-plus"></span></a> 
                    <!-- <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-linkedin"></span></a> --> </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="osLight footer-header">Write to Us</div>
            <%= form_for :write, :url => write_path, :html => {:role => "form", :id=>"write_to_us_form"}, :remote => true do |f| %>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" required="required" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" required="required" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-green btn-block">Send</button>
                </div>
            <% end %>
        </div>
    </div>
    <div class="copyright">InZak Software Services Pvt Ltd<br> &copy; 2014</div>
</div>
</div>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
 <%= javascript_include_tag 'application' %>
 <% if Rails.env == "production" %>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57955648-1', 'auto');
  ga('send', 'pageview');

</script>
<% end %>
</body>
</html>
